<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xunqi.mapper.DicMapper">


    <select id="findAll" resultType="org.xunqi.pojo.Dic">

        select type, code, name, weight
        from dic
        where type = #{type}
        order by weight

    </select>
</mapper>